version: '3.8'

networks:
  ingress:
    driver: overlay
    name: traefik_ingress
    labels:
      com.containous.traefik.component: ingress-network
    
services:
  traefik:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    image: docker.io/traefik:v3.6.7
    deploy:
      labels:
        traefik.enable: "true"
        traefik.swarm.network: ingress
        traefik.http.routers.traefik.entrypoints: "web"
        traefik.http.routers.traefik.rule: "Host(`dashboard.localdemo.localhost`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))"
        traefik.http.routers.traefik.service: "api@internal"
        traefik.http.services.dummy-svc.loadbalancer.server.port: "9999"
      replicas: 1
      resources:
        limits:
          cpus: '0.2'
          memory: 384M
        reservations:
          cpus: '0.2'
          memory: 384M
      placement:
        constraints:
          - node.role == manager
    command:
      - "traefik"
      - "--providers.swarm=true"
      - "--providers.swarm.endpoint=unix:///var/run/docker.sock"
      - "--providers.swarm.exposedByDefault=false"
      - "--entryPoints.metrics.address=:9100/tcp"
      - "--entryPoints.traefik.address=:8080/tcp"
      - "--entryPoints.websecure.address=:8443/tcp"
      - "--entryPoints.websecure.http.tls=true"
      - "--entryPoints.web.address=:8000/tcp"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--ping=true"
      - "--log.format=json"
      - "--log.level=DEBUG"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--accesslog.fields.defaultmode=keep"
      - "--accesslog.fields.headers.defaultmode=keep"
    ports:
      - target: 8443
        published: 8443
        protocol: tcp
        mode: host
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
      - 9100:9100
      - 8080:8080
    cap_add:
      - NET_BIND_SERVICE
    cap_drop:
      - ALL
    networks:
      - ingress