---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: observability
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`grafana.localdemo.localhost`)
      services:
        - name: prometheus-stack-grafana
          port: 80
          namespace: observability